<!--<p>patients-data works!</p>-->

<div class="w-100 d-flex flex-column">

  <div class="d-flex w-100 align-items-center justify-content-center mb-4">
    <h4 class="h4 text-uppercase mb-4 text-info font-weight-bold font-italic">All Patient</h4>
  </div>

  <table class="table w-100">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-capitalize">Fullname</th>
      <th scope="col" class="text-capitalize">Address</th>
      <th scope="col" class="text-capitalize">Phone Number</th>
      <th scope="col" class="text-capitalize">Next of Kin</th>
      <th scope="col" class="text-capitalize">Number of NOK</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{patient.name}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.phoneNumber}}</td>
      <td>{{patient.nextOfKin}}</td>
      <td>{{patient.numOfNOK}}</td>
    </tr>
    </tbody>
  </table>
</div>
