<div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <span>Menu Options</span>
  </button>

  <mat-menu #menu="matMenu" class="pl-5">
    <button mat-menu-item routerLink="/findPatient">
<!--      Will do later-->
      <span class="text-capitalize text-dark">Find Patient</span>
    </button>

    <button mat-menu-item routerLink="/patients">
      <span class="text-capitalize text-info">list all patients</span>
    </button>

    <button mat-menu-item routerLink="/addPatient">
      <span class="text-capitalize text-success">add new patient</span>
    </button>

    <button mat-menu-item routerLink="/updateRecords">
      <span class="text-capitalize text-warning">update patient record</span>
    </button>

    <button mat-menu-item routerLink="/deletePatient">
      <span class="text-capitalize text-danger">delete patient record</span>
    </button>
  </mat-menu>
</div>
