<div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <span>Prescription Menu Options</span>
  </button>

  <mat-menu #menu="matMenu" class="pl-5">
    <button mat-menu-item routerLink="/findPrescription">
<!--      Will do later-->
      <span class="text-capitalize text-dark">Find Prescription</span>
    </button>

    <button mat-menu-item routerLink="/Prescriptions">
      <span class="text-capitalize text-info">list all Prescription</span>
    </button>

    <button mat-menu-item routerLink="/addPrescriptions">
      <span class="text-capitalize text-success">add new Prescription</span>
    </button>

    <button mat-menu-item routerLink="/updatePrescriptions">
      <span class="text-capitalize text-warning">update Prescription</span>
    </button>

    <button mat-menu-item routerLink="/deletePrescriptions">
      <span class="text-capitalize text-danger">delete Prescription</span>
    </button>
  </mat-menu>
</div>
