<!--<p>delete-patient works!</p>-->

<div class="w-100 d-flex">
  <table class="table w-100">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-capitalize">Fullname</th>
      <th scope="col" class="text-capitalize">Address</th>
      <th scope="col" class="text-capitalize">Phone Number</th>
      <th scope="col" class="text-capitalize">Next of Kin</th>
      <th scope="col" class="text-capitalize">Number of NOK</th>
      <th scope="col" class="text-capitalize">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{patient.name}}</td>
      <td>{{patient.address}}</td>
      <td>{{patient.phoneNumber}}</td>
      <td>{{patient.nextOfKin}}</td>
      <td>{{patient.numOfNOK}}</td>
      <button class="btn btn-danger text-capitalize m-1" (click)="deletePatient(patient._id)">delete</button>
    </tr>
    </tbody>
  </table>
</div>
